<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_dialog</title>
</head>
<body>
<div class="form-group">
    <label for="empNo" class="control-label">员工编号：</label>
    <input type="TEXT" class="form-control" id="empNo" name="empno" placeholder="编号"/>
</div>
<div class="form-group">
    <label for="empName" class="control-label">员工姓名：</label>
    <input type="TEXT" class="form-control" id="empName" name="ename" placeholder="姓名"/>
</div>
<div class="form-group">
    <label for="empJob" class="control-label">员工职位：</label>
    <input type="TEXT" class="form-control" id="empJob" name="job" placeholder="职位"/>
</div>
<div class="form-group">
    <label for="mgrNo" class="control-label">上级编号：</label>
    <input type="TEXT" class="form-control" id="mgrNo" name="mgr" placeholder="上级编号"
           data-easyform="length:4;uint:1000 9999;real-time;" data-message="请输入4位上级编号"
           data-easytip="class:easy-red;position:right;"/>
</div>
<div class="form-group">
    <label for="hiredate" class="control-label">出生日期：</label>
    <input type="TEXT" class="form-control" id="hiredate" name="hiredate" placeholder="出生日期"
           data-easyform="money;real-time;" data-message="请输入正确的出生日期" data-easytip="class:easy-red;position:right;"/>
</div>
<div class="form-group">
    <label for="empSal" class="control-label">员工薪水：</label>
    <input type="TEXT" class="form-control" id="empSal" name="sal" placeholder="薪水" data-easyform="money;real-time;"
           data-message="请输入正确的员工薪水" data-easytip="class:easy-red;position:right;"/>
</div>
<div class="form-group">
    <label for="comm" class="control-label">员工佣金：</label>
    <input type="TEXT" class="form-control" id="comm" name="comm" placeholder="佣金" data-easyform="money;real-time;"
           data-message="请输入正确的佣金" data-easytip="class:easy-red;position:right;"/>
</div>
<div class="form-group">
    <label for="deptno" class="control-label">部门编号：</label>
    <input type="TEXT" class="form-control" id="deptno" name="deptno" placeholder="部门编号"/>
</div>
</body>
</html>