<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- style.css -->
    <link rel="stylesheet" href="../plugs/editor.md-1.5.0/css/style.css">
    <!-- editormd.preview.css -->
    <link rel="stylesheet" href="../plugs/editor.md-1.5.0/css/editormd.preview.css">
    <!-- home.css -->
    <link rel="stylesheet" href="../css/home.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>

    <!-- jquery 3.2.1 -->
    <script src="../plugs/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <!-- editormd.min.js 1.5.0 -->
    <script src="../plugs/editor.md-1.5.0/js/editormd.min.js"></script>
    <script src="../plugs/editor.md-1.5.0/lib/marked.min.js"></script>
    <script src="../plugs/editor.md-1.5.0/lib/prettify.min.js"></script>
    <script src="../plugs/editor.md-1.5.0/lib/raphael.min.js"></script>
    <script src="../plugs/editor.md-1.5.0/lib/underscore.min.js"></script>
    <script src="../plugs/editor.md-1.5.0/lib/sequence-diagram.min.js"></script>
    <script src="../plugs/editor.md-1.5.0/lib/flowchart.min.js"></script>
    <script src="../plugs/editor.md-1.5.0/lib/jquery.flowchart.min.js"></script>
    <!-- home.js -->
    <script src="../js/home.js"></script>

</head>
<body>
<div id="layout">
    <div id="sidebar">
        <h1>目 录</h1>
        <hr/>
        <div class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container</div>
    </div>
    <div id="test-editormd-view">
        <textarea style="display:none;" name="test-editormd-markdown-doc">###Hello world!</textarea>
    </div>
    <div id="test-editormd-view2">
        <textarea id="append-test" style="display:none;"></textarea>
    </div>
</div>
</body>
</html>