<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>MarkDownEditor</title>
    <!-- editor.md 1.5.0 -->
    <link rel="stylesheet" href="../plugs/editor.md-1.5.0/css/editormd.css">
    <!-- markdown.css -->
    <link rel="stylesheet" href="../css/markdown.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>

    <!-- jquery 3.2.1 -->
    <script src="../plugs/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <!-- editormd.min.js 1.5.0 -->
    <script src="../plugs/editor.md-1.5.0/js/editormd.min.js"></script>
    <!-- markdown.js -->
    <script src="../js/markdown.js"></script>

</head>
<body>
<div id="layout">
    <div class="btns">
        <button id="ch-en-btn"><span class="ch">中</span>/<span class="en">英</span></button>
        <button id="black-btn">黑 色</button>
        <button id="white-btn">白 色</button>
        <button id="save-btn">保 存</button>
    </div>
    <div id="test-editormd">
        <textarea style="display:none;"></textarea>
    </div>
</div>
</body>
</html>